.container {
    /* display: flex;
    justify-content: baseline;
    align-items: center; */
    align-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #124cbe, #fff);
  }
  
  .loginBox {
    background: #fff;
    color: #333;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-left: 50px;
  }
  
  .title {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 1.5rem;
  }
  
  .label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  
  .input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .input:focus {
    border-color: #124cbe;
    outline: none;
  }
  
  .errorInput {
    border-color: red;
  }
  
  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  
  .loginButton {
    width: 100%;
    padding: 0.75rem;
    background-color: #124cbe;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .loginButton:hover {
    background-color: #0e1627;
  }
  
  .footerLinks {
    margin-top: 1rem;
    text-align: center;
  }
  
  .footerLinks a {
    color: #667eea;
    text-decoration: none;
    font-size: 0.875rem;
  }
  
  .footerLinks a:hover {
    text-decoration: underline;
  }
  